#personal {
    animation: fade-in 1s ease-in 0.2s forwards;
}

#info-card {
    background-color: rgb(8, 72, 92);
    animation: fade-in-top 1s ease-in 0.6s forwards;
}

#tech {
    animation: fade-in-left 1s ease-in 0.4s forwards;
}

#about {
    animation: fade-in-bottom 1s ease-in 0.6s forwards;
}

.grid-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    animation: fade-in-right 1s ease-in 0.8s forwards;
    justify-content: space-evenly;
}

.contact-icon {
    transition: text-shadow 0.3s ease-in-out;
}

.contact-icon:hover {
    text-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

#resume {
    animation: fade-in-left 1s ease-in 0.8s forwards;
}

.resume-button:hover {
    box-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-1em);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(1em)
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(1em);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (min-width: 768px) {
    #personal {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }
    #info-card {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    #tech {
        grid-row: 2 / 5;
        grid-column: 1 / 2;
    }
    #about {
        grid-row: 4 / 6;
        grid-column: 2 / 4;
    }
    #contact {
        grid-row: 1 / 4;
        grid-column: 3 / 4;
    }
    #resume {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}

@media (min-width: 1301px) {
    #container {
        max-width: 1201px;
    }
    #info-grid {
        min-width: 1201px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 4fr 4fr 1fr;
    }
    #personal {
        font-size: 3rem;
        gap: 1rem;
        padding: 1rem;
    }
    #profile {
        width: 15rem;
    }
    #info-card p {
        font-size: 3rem;
    }
    #tech {
        font-size: 3rem;
        padding: 1rem;
    }
    #tech-box {
        row-gap: 2.5rem;
        column-gap: 5rem;
    }
    #about {
        padding: 1rem;
        font-size: 1.8rem;
    }
    .resume-button {
        width: 70%;
        height: 70%;
        font-size: 2rem;
    }
    .contact-icon {
        font-size: 5rem;
    }
    .icon {
        width: 4rem;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    #container {
        max-width: 925px;
    }
    #info-grid {
        min-width: 925px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 4fr 4fr 1fr;
    }
    #personal {
        font-size: 2.5rem;
        gap: 1rem;
        padding: 1rem;
    }
    #profile {
        width: 10rem;
    }
    #info-card p {
        font-size: 2.5rem;
    }
    #tech {
        font-size: 2rem;
        padding: 1rem;
    }
    #tech-box {
        row-gap: 2rem;
        column-gap: 4rem;
    }
    #about {
        padding: 1rem;
        font-size: 1.4rem;
    }
    .resume-button {
        width: 70%;
        height: 70%;
        font-size: 1.5rem;
    }
    .contact-icon {
        font-size: 4rem;
    }
    .icon {
        width: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #container {
        max-width: 668px;
    }
    #info-grid {
        min-width: 668px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 4fr 4fr 1fr;
    }
    #personal {
        font-size: 2rem;
        gap: 1rem;
        padding: 1rem;
    }
    #profile {
        width: 7.5rem;
    }
    #info-card p {
        font-size: 1.7rem;
    }
    #tech {
        font-size: 2rem;
        padding: 1rem;
    }
    #tech-box {
        row-gap: 1.5rem;
        column-gap: 3rem;
    }
    #about {
        padding: 1rem;
        font-size: 1rem;
    }
    .resume-button {
        width: 70%;
        height: 70%;
        font-size: 1rem;
    }
    .contact-icon {
        font-size: 3rem;
    }
    .icon {
        width: 2.5rem;
    }
}

@media (max-width: 767px) {
    #container {
        max-width: 460px;
    }
    #info-grid {
        min-width: 460px;
        grid-template-rows: 3fr 1fr 2fr 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    }
    #personal {
        font-size: 2.5rem;
        gap: 1rem;
        padding: 1rem;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    #profile {
        width: 7.5rem;
    }
    #info-card {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    #info-card p {
        font-size: 2rem;
    }
    #tech {
        font-size: 2rem;
        padding: 1rem;
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }

    #tech-box {
        row-gap: 1.5rem;
        column-gap: 5rem;
    }
    #about {
        padding: 1rem;
        font-size: 1.1rem;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
    #resume {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }
    .resume-button {
        width: 70%;
        height: 70%;
        font-size: 2rem;
    }
    #contact {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    .contact-icon {
        font-size: 4rem;
    }
    .icon {
        width: 2.5rem;
    }
}