#info-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 4fr 4fr 1fr;
    justify-self: center;
    gap: 1em;
    padding: 1em;
    max-width: 60vw;
    min-width: 60vw;
}

#personal {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    opacity: 0;
    animation: fade-in 1s ease-in 0.2s forwards;
}

#info-card {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: rgb(8, 72, 92);
    opacity: 0;
    animation: fade-in-top 1s ease-in 0.6s forwards;
    text-align: center;
}

#info-card p {
    margin: 0;
    font-size: 3em;
}

#tech {
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    opacity: 0;
    animation: fade-in-left 1s ease-in 0.4s forwards;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#tech-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    column-gap: 3em;
    row-gap: 3em;
}

#tech-label {
    margin: 0;
    font-size: 3em;
}

.icon {
    max-width: 4em;
    height: auto;
}

#resume {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

#about {
    grid-row: 4 / 6;
    grid-column: 2 / 4;
    opacity: 0;
    animation: fade-in-bottom 1s ease-in 0.6s forwards;
    font-size: 1.9em;
}

.grid-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

#profile {
    width: clamp(1em, 100%, 20em);
    height: clamp(1em, 100%, 20em);
    border-radius: 50%;
    object-fit: cover;
}

#contact {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    opacity: 0;
    animation: fade-in-right 1s ease-in 0.8s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-icon {
    font-size: 5em;
    transition: text-shadow 0.3s ease-in-out;
    margin: 0;
    color: white;
}

.contact-icon:hover {
    text-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

.contact-icon:visited {
    color: white;
}

.resume-button {
    background: none;
    color: white;
    width: 70%;
    height: 70%;
    border-radius: 8px;
    font-size: 2em;
    border: 2px solid lightgray;
    transition: box-shadow 0.3s ease-in-out;
}

.resume-button:hover {
    box-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-1em);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(1em)
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(1em);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}