#personal {
    animation: fade-in 1s ease-in 0.2s forwards;
}

#info-card {
    background-color: rgb(8, 72, 92);
    animation: fade-in-top 1s ease-in 0.6s forwards;
}

#tech {
    animation: fade-in-left 1s ease-in 0.4s forwards;
}

#about {
    animation: fade-in-bottom 1s ease-in 0.6s forwards;
}

.grid-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    animation: fade-in-right 1s ease-in 0.8s forwards;
    justify-content: space-evenly;
}

.contact-icon, .fa-arrow-up-right-from-square {
    transition: text-shadow 0.3s ease-in-out;
}

.contact-icon:hover, .fa-arrow-up-right-from-square:hover {
    text-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

#resume {
    animation: fade-in-left 1s ease-in 0.8s forwards;
}

#resume-button:hover {
    box-shadow: 0 0 10px rgba(0, 150, 255, 0.8), 0 0 20px rgba(0, 150, 255, 0.6);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-1em);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(1em)
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-top {
    from {
        opacity: 0;
        transform: translateY(-1em);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(1em);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (min-width: 1025px) {
    #container {
        max-width: 925px;
    }
    #info-grid {
        max-width: 925px;
    }
    #personal {
        font-size: 2.5rem;
    }
    #profile {
        width: 10rem;
    }
    #info-card p {
        font-size: 2rem;
    }
    #tech-box {
        row-gap: 2rem;
        column-gap: 4rem;
    }
    .icon {
        width: 3rem;
    }
    #about h1 {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #container {
        max-width: 668px;
    }
    #info-grid {
        min-width: 668px;
    }
    #personal {
        font-size: 2rem;
    }
    #info-card p {
        font-size: 1.5rem;
    }
    #tech-box {
        column-gap: 3rem;
    }
    #about h1{
        font-size: 0.9rem;
    }
    .contact-icon {
        font-size: 2.5rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #container {
        max-width: 460px;
    }
    #info-grid {
        min-width: 460px;
    }
    #personal {
        font-size: 2.5rem;
    }
    #info-card p {
        font-size: 2rem;
    }
    #tech-box {
        column-gap: 5rem;
    }
}

@media (max-width: 575px) {
    #container {
        max-width: 400px;
    }
    #info-grid {
        min-width: 400px;
    }
    #personal {
        font-size: 2rem;
    }
    #info-card p {
        font-size: 1.8rem;
    }
    #tech-box {
        column-gap: 5rem;
    }
}