.project-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
}

@media (min-width: 1301px) {
    #project-card {
        min-width: 1201px;
    }
    #project-description {
        font-size: 1.3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    #project-card {
        min-width: 925px;
    }
    #project-description {
        font-size: 1rem;
    }
}