.project-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
}

#project-tech {
    background-color: rgb(8, 72, 92);
}

#project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1301px) {
    #project-card {
        min-width: 1201px;
    }
    #project-description {
        font-size: 1.3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    #project-card {
        min-width: 925px;
    }
    #project-description {
        font-size: 1rem;
    }
}