.project-box {
    background-color: #201e25;
    border-radius: 8px;
    color: white;
}

#project-tech {
    background-color: rgb(8, 72, 92);
}

#project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1025px) {
    #project-card {
        min-width: 925px;
    }
}